img {
	width: 80%;
}


#resistanceDiagram {
	display: inline-block;
	position: relative;
	text-align: center;
	width: 100%;
}

.step {
 	margin-bottom: 250px;
 	margin-top: 50px;
 	/*border: 1px solid green;*/
}

#basic-info {
	z-index: 90;
}

.title {
	background-image: url("bacteria.jpg");
	height: 250px;
	position: fixed;
	top: 0;
	text-align: center;
	color: white;
	width: 100%;
	z-index: -1;
}

#authors {
	font-size: 22px;
}

.text-inf {
	position: relative;
	height: 0px;
}

#definitions {
	clear: left;
	top:200px;
	z-index: 2;
}


#problem {
	height: 400px;
	text-align: center;
	margin: 0 auto;
	display: block;
}

#problem-statement {
	font-size: 20px;
}

.img-circle {
	border-radius: 50%;
}

.col-problem {
	float: left;
  	margin: 0 1.5%;
  	width: 30%;
}

#basic-info {
	clear: left;