#sliders {
	float: right;
	width:300px;
  margin-top: 30px;
}

#main {
	float: left;
  width: 800px;
  height: 600px;
}

#main #first, #main #second {
	width : 100%;
}

#first {
	height:100vh;
}

#time { 
  padding: 10px;
  height: 100px;
  width: 100%;
  min-width: 800px;
}

#time .btn {
  color: black;
  font-size: 1.5em;
  margin-right: 5px;
  margin-top: 10px;
}

#display {
  min-width: 800px;
  height: 400px;
}

.progressjs-theme-blue .progressjs-inner {
  transition: all 0.3s ease-out;
  height: 40px;
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#timebar {
  margin-top: 12px;
  height: 40px;
  width: 550px;
  float: right;
  color: white;
  border: 2px solid black;
}

#second {
	margin-top: 0px;
	padding: 50px;
	background: #444;
	color: white;
	text-align: center;
}

#second .explanation {
	padding: 10px;
}

#buttons {
	float: right;
}

#svg_main {
	background: rgba(227, 227, 227, .2);
	/* #E3E3E3;*/
}

.container {
	margin-top: 50px;
}

.tooltip {
	border: 1px solid #FF530D;
	border-radius: 5px;
	padding: 5px 10px;
	text-align: center;
	color: white;
	background: rgba(37, 37, 37, 0.8);
}

.tooltip h5 {
	text-decoration: underline;
	font-size: 14pt;
}

/* Creates a small triangle extender for the tooltip */
.tooltip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 20px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.tooltip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.bacteria {

}

.bacteria:hover {
	stroke : black;
	stroke-width: 3;
}

/* Slider Styles -- I stole these from the web */
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background:  #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
/* End Slider Styles */


h1, h2, h3 {
  font-family: Questrial, sans-serif;
}

p, a {
  font-family: Muli, sans-serif;
  font-size: 20px;
}