img {
	width: 80%;
}


#resistanceDiagram {
	display: inline-block;
	position: relative;
	text-align: center;
	width: 100%;
}

.step {
 	/*padding-bottom: 100px;*/
 	margin-bottom: 200px;
 	margin-top: 200px;
}
#basic-info {
	z-index: 90;
}

#titleSection {
	background-image: url("/images/background.jpg");
	background-position: center top;
	background-size: cover;
	height: 760px;
	margin-bottom: 200px;
	margin-top:0px;
}

.title {
	height: 700px;
	top: 0;
	margin-top: -20px;
	margin-bottom: 20px;
	text-align: center;
	color: white;
	width: 100%;
	z-index: -1;
}


.text-inf {
	position: relative;
	height: 0px;
	padding-top: 200px;
	font-weight: bold;
	font-size: 48pt;
}

#authors {
	font-size: 28pt;
	font-weight: normal;
}

#definitions {
	clear: left;
	top:200px;
	z-index: 2;
}


#problem {
	width: 100%;
	height: 500px;
	padding-top: 50px;
	/*margin-bottom: 150px;*/
	text-align: center;
	margin-top: 200px;
	margin: 0 auto;
	display: block;
	padding: bottom 150px;
}

#problem-statement {
	font-size: 20px;
}

.img-circle {
	border-radius: 50%;
}

.col-problem {
	float: left;
  	margin: 0 1.5%;
  	width: 30%;
}

#basic-info {
	clear: left;
	margin-top: 100px;

}

#money {
	padding-top: 125px;
	padding-bottom: 125px;
	text-align: center;
	font-size: 16px;
	background-color: #e6f9ff;
}

.million {
	font-size: 100px;
	color: #0099CC;
}

.second {
	vertical-align: middle;
	padding: 400px;
}

.inner-accomplishments {
	background-color: #424242;
	margin: 0 auto;
	width:700px;
	height:300px;
	color: white;
	padding: 20px;

}



#accomplishments {
	margin-top:300px;
	height: 600px;
}

#bacteriaImages {
	width: 1000px;
    height: 100px;
    margin: 0 auto;
    padding-top: 30px;
}

.small-accomplishes, .small-accomplishes2 {
	background-color: #424242;
	opacity: 0.4;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 40px;
	width: 15%;
	height:80;
	color: white;
	padding: 10px;
	float: left;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}


.small-accomplishes:hover, .small-accomplishes2:hover {
	opacity: 1;
	height: 120px;
	width: 260px;
	margin-top: -3px;
	margin-right: -3px;
}


#small {
	float: left;
}

#visualization {
	clear: left;
}

#strep {
	float: left;
	width: 400px;
	margin-left: 100px;
}

#propcontainer {
	width: 100%;
	height: 200px;
	padding: 100px;
}

#propsvg {
	width: 600px;
}

#proportion {
	width: 600px;
	float: left;
	margin: 0 auto;
}

#oneInEight {
	text-align: center;
	padding: 40px;
}

#numberBacteriaEliminated, #numberBacteriaAlive, #values.p, .keyStuff, #timeElapsed {
	font-size: 20px;
}

.keyStuff {
	display: inline-block;
	vertical-align: middle;
	padding-left: 8px;
}
#key {
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
}

.key-height {
	height: 35px;
}

#starting-values {
	margin-top: 0px;
	margin-bottom: 10px;
}